body, html {
	margin: 0%;
	padding:0%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	
}

.ext_container {
	width: 100%;
	display: inline-block;
}

header {
	display:inline-block;
	width:100%;
	margin: 0% 0% 0% 0%;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 999;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	padding:2% 2% 2% 2%;
	
}
header #fb_login_button.big{
	display:inline-block;
	width: 20%;
	border:1px solid gray;
	border-radius:10px;
	vertical-align: middle;
}
header #fb_login_button.small{
	display:inline-block;
	width: 20%;
	border:1px solid gray;
	border-radius:10px;
	vertical-align: middle;
}

#fb_user_button{
	display:inline-block;
	width: 15%;
	border:1px solid gray;
	vertical-align: middle;
}
#fb_profile_pic{
	width:50px; 
	height: 50px;
	background: url("../images/fb_icon.svg") no-repeat;
	background-size:contain;
	float: left;
	vertical-align: middle;
}

#lltext{
	float: left;
	vertical-align: middle;
	margin-top:6.5%;
	margin-left:11%;
	
}
#hellotext{
	float: left;
	vertical-align: middle;
	margin-top:5.5%;
	margin-left:17%;
	
}



#left_i_c{
	width:90%;
	float: left;
	background-color: red;
	margin:70px 15% 0 5%;
	
}

